AV_WORKFLOW_ENV=production
AV_WORKFLOW_LOG_LEVEL=info
AV_WORKFLOW_API_HOST=0.0.0.0
AV_WORKFLOW_API_PORT=8080
AV_WORKFLOW_PUBLIC_HOST=avworkflow.svc.prod.lab.gglohh.top
AV_WORKFLOW_IMAGE_TAG=latest
AV_WORKFLOW_PYTHON_BASE_IMAGE=python:3.12-slim
TZ=Asia/Shanghai
